html {
    background-color: #001041;
}

#Navbar {
    background-color: #001041;
}

/* About */

#logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

#logo-image {
    max-height: 100%;
    max-width: 100%;
}

#about {
    background-color: #471EB6;
    color: white;
}

.intro-text {
    padding-left: 25px;
    padding-right: 25px;
}

/* Services Menu */

#services-menu {
    background-color: #001041;
}

#service-title {
    text-align: center;
}

#energy-services {
    background-color: #9946DE;
    color: white;
}

.addOn-title {
    text-align: center;
}

#indigo-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#indigo-link:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

#tor-services {
    background-color: #0E2CBE;
    color: white;
}

#massage-services {
    background-color: #428ADF;
    color: white;
}

#implant-services {
    background-color: #471EB6;
    color: white;
}

.service-image {
    object-fit: cover;
    height: 100%;
    width: 250px;
}

.service-image-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

