#Navbar {
    background-color: #001041;
}

.App {
    background-color: #001041;
}

#about {
    background-color: #471EB6;
    color: white;
}

#first-jumbotron {
    background-color: #9946DE;
    color: white;
}

.addOn-title {
    text-align: center;
}

#indigo-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#indigo-link:hover {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

#second-jumbotron {
    background-color: #0E2CBE;
    color: white;
}

#services {
    background-color: #428ADF;
    color: white;
}

#fourth-jumbotron {
    background-color: #471EB6;
    color: white;
}

